body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgb(5, 209, 5), hsl(54, 100%, 50%))
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color:white;
}

#keys{
    display: grid; 
    /*Biến phần tử thành grid container để sắp xếp các phần tử con theo lưới.*/
    grid-template-columns: repeat(4, 1fr);
    /*
    repeat(4, 1fr) nghĩa là tạo 4 cột, mỗi cột chiếm 1 phần bằng nhau của không gian.
    1fr (fraction unit) chia tỷ lệ không gian còn lại theo phần bằng nhau.
    */
    gap: 10px; /*tấtc cả cách nhau 10px*/
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
} 

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operationBtn{
    background-color: hsl(35, 100%, 55%);
}
.operationBtn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operationBtn:active{
    background-color: hsl(35, 100%, 75%);
}
